@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
::-webkit-scrollbar {
	width: 10px;
}

.filmPage__image {
	height: 600px;
	width: 400px;
	border-radius: 4px;
}

.film__image {
	height: 350px;
	width: 250px;
}

.semilar__image {
	height: 400px;
	width: 250px;
	border-radius: 4px;
}

.profile__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	gap: 20px;
	justify-content: center;
}

.react-player__preview {
	background-image: none !important;
}

::-webkit-scrollbar-track {
	background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

.logo {
	font-family: 'Reem Kufi';
	font-weight: 700;
}

body {
	background-color: rgb(41 37 36 / 1);
}

.navSearch::placeholder {
	color: rgb(81, 80, 80);
	font-weight: 400;
}

.slick-prev:before,
.slick-next:before {
	color: rgb(185 28 28 / 1);
	font-size: 40px;
}

/* filter range */

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider .ant-slider-track {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-track:hover {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:active
	.ant-slider-track:active {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:active
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-track {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-rail {
	background-color: rgb(68 64 60 / 1);
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider .ant-slider-rail {
	background-color: rgb(68 64 60 / 1);
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider
	.ant-slider-handle:focus::after {
	box-shadow: none;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
	border-bottom: 1px solid rgb(168, 162, 158) !important;
}

.css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon {
	color: rgb(168, 162, 158) !important;
}

/* genre selector */

.ant-select-show-search:where(
		.css-dev-only-do-not-override-1i9hnpv
	).ant-select:not(
		:where(.css-dev-only-do-not-override-1i9hnpv).ant-select-customize-input
	)
	.ant-select-selector {
	background-color: #292524;
	border-color: #a8a29e;
	color: #a8a29e;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-select
	.ant-select-arrow
	.anticon {
	color: #a8a29e;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-select:not(
		.ant-select-disabled
	):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
	.ant-select-selector {
	border-color: #a8a29e;
}

.films-grid {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(6, 1fr);
	gap: 15px;
}

.swiper {
	width: 800px;
}
.swiper-slide {
	height: 300px;
	background: #882525;
	line-height: 300px;
	text-align: center;
}
.swiper-slide:nth-child(2) {
	background: #8acc7d;
}
.swiper-slide:nth-child(3) {
	background: #b7cc7d;
}
.swiper-slide:nth-child(4) {
	background: #9eb75c;
}
.swiper-slide:nth-child(5) {
	background: #7da8cc;
}
.swiper-slide:nth-child(6) {
	background: #96cc7d;
}
.swiper-slide:nth-child(7) {
	background: #cc7dae;
}

/* adaptive */

@media (max-width: 1494px) {
	.films-grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 1280px) {
	.filmPage__films {
		width: 80%;
	}
}

@media (max-width: 1100px) {
	.fillPage__block {
		--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
			0 4px 6px -4px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	.filmPage__film {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		padding: 5px;
	}

	.film__title {
		display: none;
	}

	.filmPage__info {
		text-align: center;
	}

	.film__image {
		margin-bottom: 15px;
	}

	.film__image {
		height: 300px;
		width: 200px;
	}

	.film__time {
		display: none;
	}

	.films__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		margin-top: 20px;
	}

	.filmPage__films {
		margin-top: 20px;
		width: 100%;
	}

	.filter__display {
		display: none;
	}

	.filter {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
		gap: 40px;
	}

	.filter__header {
		font-size: 16px;
		width: 10px;
	}

	.filmPage__block {
		flex-direction: column;
	}
}

@media (max-width: 1200px) {
	.carousel__filmName {
		font-size: 30px;
	}

	.carousel__content {
		width: 50%;
	}

	.filmPage__image {
		height: 400px;
		width: 250px;
		border-radius: 4px;
	}
}

@media (max-width: 1060px) {
	.films-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 880px) {
	.container__home,
	.container__filmPage,
	.navbar,
	.carousel,
	.footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	/* .similar__list{
		flex-direction: column;
	} */

	.silmilar__item {
		width: 200px;
	}

	.semilar__image {
		height: 300px;
		width: 200px;
	}

	.navbar__search {
		width: 50%;
	}

	.carousel__content {
		width: 70%;
	}

	.filmPage__image {
		height: 300px;
		width: 200px;
		border-radius: 4px;
	}
}

@media (max-width: 700px) {
	.footer {
		padding-bottom: 40px;
		padding-top: 40px;
		flex-direction: column;
	}

	.films__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.filmPage__film {
		padding: 5px;
	}

	.filmPage__info {
		margin-left: 0px;
	}

	.info__name {
		text-align: start;
		font-size: 26px;
		margin-top: 30px;
	}

	.filmPage {
		margin-top: 0;
		flex-direction: column;
		justify-content: center;
	}

	.footer__navlist {
		margin-top: 25px;
		margin-bottom: 25px;
		flex-direction: column;
	}

	.navlist__item {
		margin-right: 0px;
		margin-bottom: 5px;
	}
}

@media (max-width: 600px) {
	.films-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.silmilar__item {
		width: 150px;
	}

	.semilar__image {
		height: 250px;
		width: 150px;
	}

	.filmPage__header {
		font-size: 30px;
	}

	.filmPage__title {
		font-size: 12px;
	}

	.comments__list {
		width: 100%;
	}

	.comments__counter {
		margin-left: 20px;
	}

	.navbar__search {
		display: none;
	}
}

@media (max-width: 530px) {
	.films__list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.carousel__content {
		width: 100%;
	}

	.info__btn_fav {
		margin-left: 0px;
		margin-top: 20px;
	}

	.info__btns {
		flex-direction: column;
	}
}

@media (max-width: 490px) {
	.films-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.comments__item {
		padding: 10px 10px 10px 10px;
	}

	.comments__header {
		font-size: 14px;
		line-height: 20px;
	}

	.comments__text {
		font-size: 10px;
		line-height: 20px;
	}

	.comments__icon {
		width: 6rem;
		height: 6rem;
	}

	.comments__text {
		font-size: 16px;
		text-align: center;
	}
}

@media (max-width: 400px) {
	.home__container,
	.navbar,
	.carousel,
	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.similar__header {
		flex-direction: column;
		align-items: flex-start;
	}

	.similar__btns {
		margin-top: 20px;
	}

	.moreFilms__button {
		font-size: 16px;
		padding: 10px 20px 10px 20px;
	}
}
