@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

.logo {
	font-family: 'Reem Kufi';
	font-weight: 700;
}

body {
	background-color: rgb(41 37 36 / 1);
}

.navSearch::placeholder {
	color: rgb(81, 80, 80);
	font-weight: 400;
}

.slick-prev:before,
.slick-next:before {
	color: rgb(185 28 28 / 1);
	font-size: 40px;
}

/* filter range */

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider .ant-slider-track {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-track:hover {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:active
	.ant-slider-track:active {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:active
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-handle::after {
	box-shadow: 0 0 0 2px #b91c1c;
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-track {
	background-color: #b91c1c;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider:hover
	.ant-slider-rail {
	background-color: rgb(68 64 60 / 1);
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider .ant-slider-rail {
	background-color: rgb(68 64 60 / 1);
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-slider
	.ant-slider-handle:focus::after {
	box-shadow: none;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
 border-bottom: 1px solid rgb(168, 162, 158) !important;
}

.css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon{
	color: rgb(168, 162, 158) !important;
}
